@model sism.Models.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Razonsocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Razonsocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccionfactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccionfactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comuna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Casilla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Casilla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineaDeCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineaDeCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPermitidaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPermitidaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPermitidaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPermitidaFin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
