@model sism.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Razonsocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Razonsocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Giro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Giro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccionfactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccionfactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comuna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Casilla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Casilla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineaDeCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineaDeCredito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPermitidaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPermitidaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPermitidaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPermitidaFin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
